@model AccountRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-6">
    <h1>Register a new account</h1>
    <form asp-action="register" method="post">

        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["StatusMessage"]
            </div>
        }


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" autofocus />
            <span class="text-danger" asp-validation-for="FullName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role">User Role</label>
            <select class="form-control" asp-for="Role" asp-items="Model.UserRoles">
                <option value="">Select user role</option>
            </select>
            <span class="text-danger" asp-validation-for="Role"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tel"></label>
            <input asp-for="Tel" class="form-control" />
            <span class="text-danger" asp-validation-for="Tel"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-block btn-danger" value="Register Account" />
        </div>


    </form>
</div>